@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #7C3AED;
    --off-white:#F3F4F6;
    --dark-grey:#9CA3AF;
}

body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}
.navigation .nav-brand{
     font-weight: bold;
     font-size: 2rem;
     
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* header */
.hero{
    padding: 2rem;
}

.hero .hero-heading{
    color: var(--dark-grey);
    padding-top: 1rem;
}

.hero .hero-heading .heading-inverted{
    color: var(--primary-color);
}

/* section */
.section{
    padding: 2rem;
}
.section h1{
    text-align: center;
}

/* Input */
label, caption{
    font-size: 1.5rem;
    font-weight: bold;
}
.input{
width: 100%;
padding: 12px 20px;
margin: 5% 0;
border:2px solid var(--primary-color);
border-radius: 0.3rem;
box-sizing: border-box;
font-weight: bold;
font-size: 1rem;
}
.input:focus {
    border: 4px solid var(--dark-grey);
}

/* button */
.btn{
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 14px 40px;
    margin: 1% 3%;
}
.btn-primary {
    background-color: var(--primary-color);
}

.btn-secondary {
    color: var(--primary-color);
    border:2px solid var(--primary-color);
    transition-duration: 0.4s;
  }
  
.btn-secondary:hover {
    background-color: var(--primary-color); /* Green */
    color: white;
  }
/* table */
th, td {
    border: 2px solid var(--primary-color);
  }
.changeTable{
    border-collapse:collapse;
    width:100%;
}
th{
    width:20%;
}
td{
    width:10%;
}
caption{
    margin:2% 0;
}

/* footer  */
.footer{
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 2rem;
    border-top-right-radius: 1rem;
}
.footer .link{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.footer img{
    height:40px;
    width: 40px;
    filter:invert(100%);
}
.footer ul{
    padding-inline-start: 0px;
}
.footer .list-non-bullet{
    list-style: none;
}
.footer .list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}
/* error meassage */
#error-message{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-color);
}